<div id="showData">
	<table>
		<thead>
			<tr>
				<th>SC</th>
				<th>Tanggal Order</th>
				<th>NCLI</th>
				<th>Pelanggan</th>
				<th>Alamat</th>
				<th>ND Inet</th>
				<th>ND Voice</th>
				<th>Witel</th>
				<th>STO</th>
				<th>ODP</th>
				<th>Status</th>
				<th>Status Message</th>
				<th>K Kontak</th>
				<th>ID Inputer</th>
				<th>Tipe Transaksi</th>
			</tr>
		</thead>
		<tbody>

		</tbody>
	</table>
</div>